@page "/AddActivity"
@using Share.Dto

<section class="AddActivity">
    <span class="border-lable-right">
        <div class="card-header">
            <fieldset>
                <td class="align-middle">
                    <h1 class="page-title">ایجاد وظیفه</h1>
                </td>
            </fieldset>
        </div>
    </span>
    <hr />
    <EditForm Model="@Activity" OnValidSubmit="Save">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="form-group row">
            <label for="title" class="col-sm-3">: عنوان</label>
            <InputText class="form-control col-sm-10" @bind-Value="@Activity.Title" placeholder="عنوان وظیفه را وارد نمایید"></InputText>
            <ValidationMessage For="@(() => Activity.Title)" />
        </div>
        <div class="form-group row">
            <label for="Descriptionِ" class="col-sm-3"> توضیحات: </label>
            <InputText id="Description" class="form-control col-sm-10" @bind-Value="@Activity.Description" placeholder="توضیحات را وارد نمایید "></InputText>
            <ValidationMessage For="@(() => Activity.Description)" />
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-3 col-form-label">
                وضعیت
            </label>
            <div class="col-sm-10">
                @if (Statuses != null)
                {
                    <InputSelect id="status" @bind-Value="Activity.StatusId" class="form-control">
                        <option value="">انتخاب کنید</option>
                        @foreach (var dept in Statuses)
                        {
                            <option value="@dept.Id">@dept.Title</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Activity.StatusId)" />
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="user" class="col-sm-3 col-form-label">
                نام کاربر
            </label>
            <div class="col-sm-10">
                @if (Users != null)
                {
                    <InputSelect @bind-Value="Activity.UserId" class="form-control">
                        <option value="">انتخاب کنید</option>
                        @foreach (var data in Users)
                        {
                            <option value="@data.Id">@data.FirstName " " @data.LastName</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Activity.UserId)" />
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="unit" class="col-sm-3 col-form-label">
                پروژه
            </label>
            <div class="col-sm-10">
                <InputSelect id="unit" @bind-Value="Activity.UnitId" class="form-control">
                    <option value="">انتخاب کنید</option>
                    @if (Units != null)
                    {
                        @foreach (var data in Units)
                        {
                            <option value="@data.Id">@data.Title</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Activity.UnitId)" />
            </div>
        </div>

        <div class="card-footer">
            <input type="submit" class="btn btn-success" value="ذخیره" />
            <input type="button" class="btn btn-danger" @onclick="@Cancel" value="انصراف" />
        </div>
    </EditForm>
</section>
