@page "/AddUnit"
@using Share.Dto

<section class="AddUnit">
    <span class="border-lable-right">
        <div class="card-header">
            <fieldset>
                <td class="align-middle">
                    <h1 class="page-title">ایجاد پروژه</h1>
                </td>
            </fieldset>
        </div>
    </span>
    <hr />

    <EditForm Model="@Unit" OnValidSubmit="Save">
        <DataAnnotationsValidator></DataAnnotationsValidator>      

        <div class="form-group row">
            <label for="title" class="col-sm-3">: عنوان</label>
            <InputText class="form-control col-sm-10" @bind-Value="@Unit.Title" placeholder="عنوان وظیفه را وارد نمایید"></InputText>
            <ValidationMessage For="@(() => Unit.Title)" />
        </div>
        <div class="form-group row">
            <label for="Descriptionِ" class="col-sm-3"> توضیحات: </label>
            <InputText id="Description" class="form-control col-sm-10" @bind-Value="@Unit.Description" placeholder="توضیحات را وارد نمایید "></InputText>
            <ValidationMessage For="@(() => Unit.Description)" />
        </div>
       

        <div class="card-footer">
            <input type="submit" class="btn btn-success" value="ذخیره" />
            <input type="button" class="btn btn-danger" @onclick="@Cancel" value="انصراف" />
        </div>
    </EditForm>
</section>
